.ds-form .group-left{
    float: left;
    width: 62%;
}
.ds-form .group-right {
    float: right;
    width: 35%;
}
.form-item-field-business-address-und-0-country{
	display:none;
}
.form-item {
    margin: 0 0 5px;
    padding: 5px 0;
}
#edit-field-best-of-the-best-und{
	border: 1px solid #E3E3E3;
    height: 100px;
    overflow: auto;
    width: 200px;
}
#form-item-field-business-contract-und-0-value{
	border:0px;
}
#edit-field-deal-business-und-0-add-nodeconnect-field-deal-business-0{
	display:none;
}